:root {
    --primary-color: #323A3F;
    --secondary-color: #A0ACB1;
    --background-color: #C6CDD0;
    --text-color: #444444;
    --button-hover-color: #555;
}

body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.card {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: auto;
    text-align: center;
}

.card-header {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.card-subtitle {
    font-size: 1rem;
    color: var(--text-color);
}


/* Buttons */


.button-container {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

button {
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 2px solid #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
    margin-inline: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    transform: translateY(3px);
}

button[disabled] {
    background-color: gray;
    opacity: 0.6;
    cursor: not-allowed; 
}

.tooltip {
    visibility: hidden;
    width: max-content;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #ddd;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
}

.button-container:hover .tooltip {
    visibility: visible;
}

#record {
    background-image: url('../images/record-start.png');
}

#monitor {
    background-image: url('../images/monitor-start.png');
}

#visualize {
    background-image: url('../images/visualize.png');
}


/* Selections */


.selection-container {
    position: relative;
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 780px;
    margin-top: 20px;
    margin-inline: auto;
    text-align: center;
}

label, select, option, optgroup {
    font-size: 1rem;
    color: var(--text-color);
}

label {
    font-weight: bold;
}

select {
    border-style: none;
    background-color: var(--background-color);
    cursor: pointer;
}

.form-select {
    display: inline-block;
    margin-right: 20px;
}


/* Visualizer */


.visualizer-container {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#d3-plot {
    width: 800px;
    height: 500px;
}

#packet-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #ddd;
    text-align: right;
}

#prediction {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #ddd;
    text-align: left;
}

.radar-container {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-image: url('../images/radar.png');
    background-size: cover;
    width: 800px;
    height: 400px;
}

#radar {
    width: 100%;
    height: 100%;
}

#points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.point {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
