<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiremap</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="module" src="static/js/script.js"></script>
</head>
<body>
<div class="card">
    <div class="card-header">Wiremap</div>
    <div class="card-subtitle">Wi-Fi Signal Multipath Propagation Mapping System</div>
    <div>
        <div class="button-container">
            <button id="start"></button>
            <div class="tooltip">Start/Stop Sending Packets</div>
        </div>
        <div class="button-container">
            <button id="visualize"></button>
            <div class="tooltip">Start/Sto</div>
        </div>
    </div>
    <div>
        <svg></svg>
    </div>
</body>
</html>
