:root {
    --primary-color: #1F2937;
    --secondary-color: #78350F;
    --background-color: #94A3B7;
}

.point {
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 15px rgba(120, 53, 15, 0.2);
    position: absolute;
    transform: translate(-50%, -50%);
}

#amplitude-max-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
}

#phase-max-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
}

#gates-max-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}